
.center {
    padding: 30px;
    text-align: center;
    }

    h4,h6{
        padding: 10px;
       
        font-family: "Josefin Sans", sans-serif;

    }

    .card-img-top{
         
    }

    .card-body
    {
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        margin-bottom  : 20px;
    }
    
 
 .footer{
    font-family: "Josefin Sans", sans-serif;

    background: linear-gradient(52deg, rgba(137, 31, 139, 1) 20%, rgba(85, 14, 130, 1) 50%, rgba(46, 8, 127, 1) 78%, rgba(64, 11, 129, 1) 100%);
 
 color: #ffffff;
 }
 
 
 .card{

    border: none;
 }
 
 
  
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 